em{font-style: normal;}
a,a:hover,a:focus,a:active{color: #e8e7e7;text-decoration: none;}
body{background-color: #f5f5f5;}


.netease-topbar{position: fixed;top: 0;z-index: 99;zoom: 1;width: 100%;}
.netease-top{height: 70px;background: -moz-linear-gradient(#363636, #1b1a1a);background: linear-gradient(#363636, #1b1a1a);}
.netease-subnav{}
.netease-active{background: -moz-linear-gradient(#1b1a1a,#383737, #1b1a1a);background: linear-gradient(#1b1a1a,#383737, #1b1a1a);}
.netease-nav{color: #ccc;height: 70px;float: left;margin-bottom: 0;position: relative;margin-left: 15px;}
.netease-nav li{position: relative;font-size: 14px;line-height: 70px;padding: 0;border: 0;}
.netease-nav li a{display: block;margin: 0 -2px;}
.netease-nav li a:hover{background: -moz-linear-gradient(#545454, #1b1a1a);background: linear-gradient(#545454, #1b1a1a);}
.netease-nav li em{padding: 0 20px;line-height: 100%;border-left: 1px solid #030303;color: #ccc;}
.netease-nav li:last-child em{border-right: 1px solid #030303;}
.logo{float: left;width: 176px;line-height: 70px;}
.logo *{color: #e8e7e7;font-size: 26px;}
.logo a{display: block;}
.logo a>span{margin-right: 10px;}
.search{padding: 0;margin-top: 19px;width: 200px;display: inline-block;border-radius: 99px;overflow: hidden;line-height: 30px;position: relative;}
.search>input{padding-left: 30px;background: #eaeaea;box-shadow: none;outline: none;border: 0;}
.search>span{position: absolute;top: 10px;left: 8px;font-size: 12px;}
.search-list{background: #fff;height: 430px;width: 230px;z-index: 99;top: 60px;border-radius: 3px;position: absolute;box-shadow: 1px 3px 6px 3px #ccc;}
.search-list>p{height: 40px;padding: 11px 10px;border-bottom: 1px solid #e2e2e2;margin: 0;}
.search-list>p a{color: #666;font-size: 12px;}

.itm{}
.itm ul{margin-top: 10px;margin-bottom: 5px;}
.itm ul a{color: #333;display: block;}
.itm ul li{padding-left: 15px;line-height: 24px;font-size: 12px;}
.itm ul li:hover{background: #ccc;}
.itm .col-sm-3,.itm .col-sm-9{padding: 0;}
.itm .col-sm-3 em{font-size: 12px;}
.itm .col-sm-3 span{margin: 8px 4px 0 8px;font-size: 12px;}
.itm .col-sm-9{border-left: 1px solid #ccc;border-bottom: 1px solid #ccc;}

.login{margin: 25px 0 0 20px;position: relative;}
.login>a{color:#777171;}
.login>a>i{margin-left: 15px;font-size: 18px;}
.user-panel{position: absolute;top: 34px;right: -50px;width: 160px;border-radius: 4px;border: 1px solid #000;z-index: 98;}
.user-panel .inner{border: 1px solid #404040;height: 100%;width: 100%;border-radius: 3px;background: #2a2a2a;}
.inner ul{padding: 6px 0;border-bottom: 1px solid #151515;border-top: 1px solid #404040;margin: 0;}
.inner ul:first-child{border-top: 0;}
.inner ul:last-child{border-bottom: 0;}
.inner ul li{line-height: 32px;}
.inner ul li>a{padding-left: 24px;display: block;}
.inner ul a:hover{background-color: #4e4e4e;}
.inner ul li>a>i,.inner ul li>a>em{font-size: 12px;color: #ccc;}
.inner ul li>a>em{margin-left: 10px;}

.red-shadow{height: 4px;background: -moz-linear-gradient(#d60e0e, #c70c0c);background: linear-gradient(#d60e0e, #c70c0c);;margin-top: 0px;box-shadow: 0px 0px 2px 1px #230202;}
.cor{height: 0;width: 0;border-bottom: 8px solid #d10e0e;border-left: 8px solid transparent;border-right: 8px solid transparent;position: absolute;bottom: -1px;left: 50%;margin-left: -8px;}

.index-recommend{border-bottom: 1px solid #b00a0a;border-top: 1px solid #ea1717;height: 33px;background: -moz-linear-gradient(#c70c0c, #9a0909);background: linear-gradient(#c70c0c, #9a0909);;margin-top: 0px;box-shadow: 0px 0px 0px 1px #230202;}
.index-ul{margin-left: 191px;margin-bottom: 0;}
.index-ul li{margin: 0;padding: 0;line-height: 32px;font-size: 12px;}
.index-ul li a{display: block;margin: 0 17px;}
.index-ul li em{padding: 3px 14px;color: #fff;}
.index-ul .index-active{background: -moz-linear-gradient(#720100, #910504);background: linear-gradient(#720100, #910504);border-radius: 99px;overflow: hidden;border: 1px solid #b80b0b;text-shadow: 0 1px 0 #650303;}

.music-play{height: 47px;background: -moz-linear-gradient(#333333, #0c0c0c);background: linear-gradient(#333333, #0c0c0c);opacity: 0.93;box-shadow: 0 0px 4px 3px #b4b4b4;border-top: 1px solid #000;padding: 0;}
.music-shadow{width: 100%;height: 45px;border-top: 1px solid #494949;border-bottom: 1px solid #212121;}
.music-play-panel{position: absolute;left: 50%;width: 980px;margin-left: -490px;}
.music-play-panel>div{display: inline-block;}

.music-play-panel .music-btns{width: 137px;padding: 6px 0 0 0;float: left;}
.music-play-panel .music-btns>a{display: inline-block;height: 36px;width: 36px;text-align: center;vertical-align: middle;color: #c1c1c1;line-height: 36px;}
.music-play-panel .music-btns>a>i{font-size: 18px;}

.music-play-panel .music-photo{height: 36px;width: 36px;margin: 5px 15px 0 0;border: 1px solid #000;border-radius: 3px;float: left;}
.music-play-panel .music-photo a{display: block;}

.music-play-panel .play{width: 608px;height: 37px;float: left;}
.music-play-panel .music-ctrl{line-height: 28px;width: 100%;font-size: 12px;}
.music-play-panel .music-ctrl a{display: inline-block;}
.music-play-panel .music-ctrl a:hover{text-decoration: underline;}

.music-ctrl .zj{margin-left: 15px;color: #9b9b9b;max-width: 220px;}
.music-ctrl .zj a{color: #9b9b9b;}

.play .m-pbar{height: 9px;width: 493px;position: relative;}
.barbg,.rdy,.cur{height: 9px;border-radius: 99px;position: relative;}
.barbg{background: #0e0e0e;border-bottom: 1px solid #464646;border-top: 1px solid #000;position: relative;}
.rdy{background: -moz-linear-gradient(#423d3d, #4c4c4c);background: linear-gradient(#423d3d, #4c4c4c);position: absolute;top: -1px;border-bottom:1px solid #000;border-top:1px solid #6f6f6f;}
.cur{background: -moz-linear-gradient(#c30d0d, #af0a0a);background: linear-gradient(#c30d0d, #af0a0a);position: absolute;top: -1px;border-bottom:1px solid #000;border-top:1px solid #f41616;}

.dot{display: block;position: absolute;right: -8px;top: -6px;background: #b8180d;border-radius: 99px;border: 6px solid #f0f0f3;height: 18px;width: 18px;}
.dot:hover{box-shadow: 0 0 2px 1px #a7a7a7;}
.time{color: #797979;position: absolute;top: -3px;right: -87px;font-size: 12px;}
.time em{color: #a1a1a1;}

.music-play-panel .oper{height: 36px;float: left;}
.music-play-panel .oper a{display: inline-block;height: 25px;width: 25px;margin:11px 3px 0 0;}
.music-play-panel .oper a i{font-size: 18px;color: silver;}

.music-play-panel .ctrl{height: 36px;float: left;position: relative;}
.ctrl .left-shadow{margin: 0 10px;display: inline-block;width: 3px;height: 20px;background: -moz-linear-gradient(to right,#656565, #0a0a0a ,#6f6f6f);background: linear-gradient(to right,#545454, #0a0a0a ,#545454);position: relative;top: 5px;}
.ctrl a{display: inline-block;height: 25px;width: 25px;margin: 11px 3px 0 0;}
.ctrl a i{font-size: 18px;color: #8f8f8f;}

.m-vol{width: 32px;height: 113px;position: absolute;top: -114px;left: 17px;background: #292929;border: 1px solid #000;border-radius: 1px;}
.vol-panel{width: 30px;height: 111px;border: 1px solid #343434;}
.vbg{position: absolute;top: 11px;left: 14px;width: 4px;height: 93px;background-color: #191919;border-left: 1px solid #141414;border-right: 1px solid #141414;border-radius: 99px;}
.vbg .curr{background-color: #b70b0b;width: 4px;position: absolute;bottom: 0;left: -1px;border-radius: 99px;}
.vbg .curr .dot{height: 14px;width: 14px;border: 4px solid #f0f0f3;top: -7px;left: -5px;}

